<h5 class="text-center">Public holidays</h5>
<table class="table table-bordered">
    <thead>
    <td>Name</td>
    <td>Date</td>
    </thead>
    <tbody>
        @foreach (var holiday in ViewBag.PubluicHolidays)
        {
            <tr>
                <td>@holiday.Name</td>
                <td>
                    @holiday.Date.ToString(" ddd  dd-MMM-yyyy")
                </td>
            </tr>
        }
    </tbody>
</table>