@{
    Layout = "";
}
<div class="jumbotron left float-left shadow p-3 mb-5 bg-white rounded event-container">
    <h4>Upcoming Events</h4><hr />
    <div id="upcoming-events">
        <ul>
        </ul>
    </div>
    <hr /><h4>Past Events</h4><hr />
    <div id="past-events">
        <ul>
        </ul>
    </div>
</div>
<script src="~/Scripts/CustomJs/app.js"></script>